.container{
    display: grid;
    /* ajusta o tamanho da tabela de acordo com o conteúdo*/
    width: fit-content;
    /* 1fr fraction */
    /* define a quantidade de colunas */
    grid-template-columns: 1fr 1fr;
    border: 1px solid black; 
    text-align: left;
}
.title{
    background: #6e6e6e;
    font-weight: bold;
    color: #fff
}
.colspan-footer,.colspan-head{
    grid-column: 1/3;
}
.model{
      background: #ccffff;
}
.consumption{
    background: #98ff98;

}
.container div{
    padding: 5px;
    border: 1px solid black; 
}

