* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body .form {
    display: flex;
    flex-direction: column;
    background-color: wheat;
    width: 80%;
    border-radius: 5px;
    padding: 20px;
}

.form input, select{
    height: 25px;
    margin: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.entidade select {
    text-align: center; /* Centraliza o texto dentro do select */
}

option {
    text-align: center; /* Centraliza o texto dentro dos options */

}



.tipo_entidade {
    margin-top: 10px;
    display: none;
    
}

.tipo_entidade span {
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
    
}

.tipo_entidade input[type="checkbox"] {
    vertical-align: middle;
}

.tipo_entidade#car input[type="text"]:first-child,
.tipo_entidade#ponto input[type="text"]:first-child {
    width: auto; /* Isso permite que o primeiro input ajuste-se ao tamanho do placeholder */
}

.tipo_entidade#car input[type="text"],
.tipo_entidade#ponto input[type="text"] {
    width: 100px; /* Largura fixa para os outros três inputs */
}

.tipo_entidade .music{
    display: inline-flex;
}

.tipo_entidade button{
    margin: 5px auto;
}

button{
    color: #fff;
    padding: 2px;
    background-color: black;
    border-radius: 5px;
}


/* Estilize o placeholder */
input::placeholder {
    color: #999; /* Cor do texto do placeholder */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px; /* Espaçamento interno do placeholder */
}

/* Estilize o caret (cursor) */
input {
    border-radius: 5px;
    caret-color: #FF0000; /* Cor do caret (cursor) */
    /* Outros estilos do elemento de entrada, se necessário */
}
