@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');
* {
  font-family: 'Albert Sans';
  padding: 0;
  margin: 0
}

body{
  background-image: url("../../imagens/terra.jfif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  display: flex;
  justify-content: center;
}

.conteudo{
  border: 2px solid rgb(86, 219, 153);
  color: rgb(107, 207, 165);
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  padding:20px ;
  background: rgba(38, 97, 65, 0.35);
}
.conteudo h1{
  color: #fff;
  margin: 20px  40px ;
}
form{
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 10px;
}
form label{
  justify-self: right;
  align-self: center;
}
form input, select{
  height: 30px;
  border: 2px solid rgb(0, 153,153);
  border-radius: 4px;
  padding-left: 5px;
}
.data input{
  width: 80px;
}
.data #telefone{
  width: 150px;
}
button{
   grid-column: 2/2;
   justify-self: left;
   padding: 5px;
  }
