@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');
* {
  font-family: 'Albert Sans';
}

body{
  background-image: url("../../desenvolvimento-web/terra.jfif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  height: 100vh;
}
h1{
  color:#fff;
}
.conteudo{
text-align: center;
color: rgb(128, 245, 128);
min-height:80vh;
display: flex;
flex-direction: column;
align-items: center;
border: 2px solid rgb(174, 245, 68);
margin: 0 200px 400px 200px;
border-radius: 5px;

}
form{
  display: grid;
  grid-template-columns: min-content 500px;
  gap: 20px;
  padding: 10px 20px;
  align-items: center;

background-color: rgb(54, 90, 54);
opacity: 0.8;
}
form input{
  height: 30px;
}
form label{
  justify-self: right;
}
.phone{
  width: fit-content;
}

.phone input{
  width: 40px ;
}

.phone #telefone{
  width: 100px;
}

button{
  grid-column: 2/2;
  justify-self: left;
}

